@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}
/* -------common css start-------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 80px;
    font-weight: bold;
    font-family: "Rokkitt", system-ui;
    color: #ffffff;
    padding: 0;
}
/* -------common css ends-------- */
/* -----Navbar css start ----- */
.navbar{
    padding: 0;
}
.navbar-cs{
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro Regular';
    padding: 20px 0;
}
.navbar-brand{
    transition: 0.4s ease-in-out;
}
.logo{
    font-size: 27px;
    padding: 0;
    margin: 0;
    color: #ffffff !important;
    font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0;
}
.navbar-nav .nav-item a{
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 34px;
    transition: 0.4 ease-in;
}
.navbar-nav .nav-item a:hover{
    color: #1abc9c;
}
.navbar-nav .nav-item{
    position: relative;
}
.navbar-nav .nav-item::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: #1abc9c;
    position: absolute;
    left: 18px;
    bottom: 0;
    border-radius: 15px;
    transition: 0.4s ease-out;
}
.navbar-nav .nav-item:hover::after{
    width: 100%;
}
/* -----Navbar css start ----- */
/* -----header css start----- */
#header{
    width: 100%;
    background-image: url(../Images/Screendesign_Turquoise-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding-bottom: 115px;
}
#header::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e296916c;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner{
    font-family: "Rokkitt", system-ui;
    padding-top: 100px;
}
.banner h1{
    position: relative;
}
.banner h1::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
}
.banner p{
    font-size: 29px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 20px;
}
.btn-1{
    position: relative;
    background-color: #1abc9c;
    text-decoration: none;
    color:#ffffff;
    padding: 15px 50px;
    font-size: 20px;
    bottom: -60%;
}
/* -----header css ends----- */
/* -----service css start----- */
#service{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 70px;
    font-family: 'Myriad Pro Regular';
}
#service .service-titel h2{
    font-size: 48px;
    font-weight: bold;
    color: #1abc9c;

}
#service .service-titel p{
    font-size: 24px;
    margin-top: 55px;
}
.service-item-1{
    width: 360px;
    margin-top: 70px;
}
.service-item-1 .ser-img img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 0;
}
.service-item-1 .ser-img h3{
    font-size: 30px;
    font-weight: bold;
    color: #1abc9c;
}
.ser-desk p{
    font-size: 20px;
    color: #3b3939;
    padding: 25px;
}
/* -----service css end----- */
/* -----portfolio css start -----*/
#portfolio{
    width: 100%;
    padding: 75px 0;
    font-family: 'Myriad Pro Regular';
}
.portfolio-img img{
    width: 100%;
    /* position: relative; */
}
.portfolio-img:hover .portfolio-img-overlay{
    opacity: 1;
    visibility: visible;
}
.portfolio-img{
    position: relative;
}
.portfolio-img::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:#e296916c ;
    transition: 0.3s all linear;
    top: 0;
    left: 0;
}
.portfolio-img:hover::before{
    opacity: 0;
    visibility: hidden;
}
.portfolio-img-overlay{
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all linear;
}
.overly-text{
    background-color: #1abc9c;
    padding-left: 20px;
    position: relative;
    z-index: 1;
}
.overly-text::after{
    content: "";
    width: 100%;
    height: 130%;
    background-color:#1abc9caf ;
    position: absolute;
    top: -15%;
    left: 0%;
    z-index: -1;
}
.overly-text h2{
    margin-top: 133px;
    font-size: 42px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 10px;
}
.overly-text p{
    font-size: 21px;
    color: #ffffff;
    
}
.portfolio-img-overlay i {
    font-size: 35px;
    background-color: #1abc9c;
    padding: 11px;
    position: relative;
    z-index: 1;
    top: 3%;
    right: -40%;
}
.portfolio-img-overlay i::after{
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    background-color: #1abc9caf;
    top: -5px;
    left: -5px;
    z-index: -1;
}
.btn-2{
    background-color: #1abc9c;
    text-decoration: none;
    font-size: 21px;
    color: #ffffff;
    padding: 20px 30px;
    display: inline-block;
    margin-top: 75px;
}
/* -----portfolio css ends----- */
/* -----get in touch----- */
#get-in-touch{
    width: 100%;
    padding: 75px 0;
    font-family: "Rokkitt", system-ui;
}
.input-box{
    width: 460px;
    display: inline-block;
    padding: 12px 20px;
    font-size: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color:#e4e8e8 ;
}

.big-msg{
    display: block;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #e4e8e8;
    outline: none;
    border: none;
    font-size: 20px;
    resize: none;
    color: #7f8383;
    margin-bottom: 75px;
}
.get-in-touch-titel h2{
    font-size: 52px;
    font-weight: bold;
    color: #1abc9c;
    padding-bottom: 76px;
}
/* -----get in touch----- */
/* ------footer css------ */
#footer{
    width: 100%;
    padding-top: 75px ;
    background-color: #1abc9c;
}
#footer .social-icon i{
    width: 105px;
    height: 105px;
   border: 4px solid #444b49;
   background-color: #ffffff;
   color: #1abc9c;
   font-size: 65px;
   line-height: 105px;
   bottom: 0%;
   display: inline-block;
   position: absolute;
   margin-top: 10px;

}
#footer .social-icon{
    position: relative;
}
#footer .social-icon .spotify{
    left: 50%;
    transform: translateX(-50%);
}
#footer .social-icon .twiter{
    left: 100%;
    transform: translateX(-100%);
}
#footer p{
    font-size: 23px;
    color: #ffffff;
    margin-top: 75px;

}
/* ------footer css------ */

